--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
torch
torchvision
insightface
onnxruntime
opencv-python-headless
numpy
pillow
scikit-learn
pydantic
mediapipe
python-multipart
timm
supabase
python-dotenv
